button {
    color: white;
    background-color: rgb(4, 5, 6);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .active-link{
    font-weight: bold;
  }
  
  .header-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar {
    z-index: 3000; /* This will ensure the sidebar is always on top of other elements */
    position: absolute; /* This will make the sidebar always visible */
    top: 0;
    left: 0;
    height: 100vh; /* This will make the sidebar take the full height of the screen */
    overflow-y: auto; /* This will add a scrollbar if the content of the sidebar is bigger than the screen */
  }
  
  .app-product-list {
    margin-left: 250px; /* Adjust this value based on the width of your sidebar */
  }
  
  .sidebar.open {
    width: 250px;
  }
  
  .menu-sidebar {
    width: 0;
    transition: width 0.5s;
  }
  
  .menu-sidebar.open {
    width: 250px;
  }
  
  .toggle-sidebar {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .page-wrapper {
    display: flex;
    flex-direction: row;
    transition: margin 0.5s ease-out;
  }
  
  .page-container {
    margin-left: 250px; /* should be the same as the width of the sidebar when open */
    transition: margin 0.5s ease-out;
  }
  
  /* When sidebar is not open, remove the margin */
  .sidebar:not(.open) ~ .page-container {
    margin-left: 0;
  }

.toggle-button {
  z-index: 6000; /* Adjust this value as needed, it should be higher than the sidebar's z-index */
  position: fixed; /* This will make the button stay in place when scrolling */
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the right position as needed */
}

  
  /* Media query for screens smaller than 768px */
 /* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .page-container {
      margin-left: 0; /* Remove the margin on smaller screens */
    }
  
    .sidebar.open {
      width: 50%; /* Make the sidebar full-width on smaller screens */
    }
  
    .menu-sidebar.open {
      width: 50%; /* Make the menu full-width on smaller screens */
    }
    
    /* Adjust the search box positioning */
    .header-desktop {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      .form-container {
        display: flex;
        justify-content: center;
      }
      
      .form-header {
        display: block;
        align-items: center;
      }      

    }
  }
  