<div class="main-content">
    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
      <div class="text-center">
        <h1>Checkout Page</h1>
      </div>
  
      <!-- CUSTOMER FORM -->
      <div formGroupName="customer" class="form-area">
        <h3>Customer</h3>
        <div class="row">
          <div class="col-md-2">
            <label>First Name</label>
          </div>
          <input formControlName="firstName" type="text" />
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Last Name</label>
          </div>
          <input formControlName="lastName" type="text" />
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Email</label>
          </div>
          <input formControlName="email" type="text" />
        </div>
      </div>
  
      <!-- SHIPPING ADDRESS FORM -->
      <div formGroupName="shippingAddress" class="form-area">
        <h3>Shipping Address</h3>
        <div class="row">
          <div class="col-md-2">
            <label>Country</label>
          </div>
          <select formControlName="country" (change)="getTowns('shippingAddress')">
          <option *ngFor="let country of countries" [ngValue]="country">
            {{ country.name }}
          </option>
        </select>
      </div>
      <div class="row">
        <div class="col-md-2">
            <label>Street</label>
          </div>
          <input formControlName="street" type="text" />
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>City</label>
          </div>
          <input formControlName="city" type="text" />
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Town</label>
          </div>
          <select formControlName="town">
            <option *ngFor="let town of shippingAddressTowns" [ngValue]="town">
            {{ town.name }}
            </option>
          </select>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Post Code</label>
          </div>
          <input formControlName="postCode" type="text" />
        </div>
      </div>
      <!-- Checkbox to copy shipping to billing -->
      <div class="input-space">
        <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
            <span class="au-checkmark"></span>Billing Address Same As Shipping Address
        </label>
      </div>
  
      <!-- BILLING ADDRESS FORM -->
      <div formGroupName="billingAddress" class="form-area">
        <h3>Billing Address</h3>
        <div class="row">
          <div class="col-md-2">
            <label>Country</label>
          </div>
          <select formControlName="country" (change)="getTowns('billingAddress')">
            <option *ngFor="let country of countries" [ngValue]="country">
                {{ country.name }}
              </option>
            </select>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Street</label>
          </div>
          <input formControlName="street" type="text" />
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>City</label>
          </div>
          <input formControlName="city" type="text" />
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Town</label>
          </div>
          <select formControlName="town">
            <option *ngFor="let town of billingAddressTowns" [ngValue]="town">
            {{ town.name }}
            </option>
          </select>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Post Code</label>
          </div>
          <input formControlName="postCode" type="text" />
        </div>
      </div>
  
      <!-- CREDIT CARD FORM -->
      <div formGroupName="creditCard" class="form-area">
        <h3>Credit Card</h3>
  
        <div class="row">
          <div class="col-md-2">
            <label>Card Type</label>
          </div>
          <!-- Dropdown for Card Type -->
          <select formControlName="cardType">
            <option value="visa">Visa</option>
            <option value="mastercard">Mastercard</option>
            <option value="amex">American Express</option>
            <option value="discover">Discover</option>
            <option value="other">Other</option>
          </select>
          <!-- End of Dropdown for Card Type -->
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Name on Card</label>
          </div>
          <input formControlName="nameOnCard" type="text" />
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Card Number</label>
          </div>
          <input formControlName="cardNumber" type="text" />
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Expiration Month</label>
          </div>
          <!-- Populate drop down list with checkout.ts Component "creditCardMonths" -->
          <select formControlName="expMonth">
            <option *ngFor="let month of creditCardMonths">
            {{ month }}
            </option>
          </select>
        </div>
        <div class="row">
          <div class="col-md-2">
            <!-- Create a column with a width of 2 columns -->
            <label>Expiration Year</label>
          </div>
        <!-- Populate drop down list with checkout.ts Component "creditCardYears" -->
          <select formControlName="expYear" (change)="handleMonthsAndYears()">
           <option *ngFor="let year of creditCardYears">
            {{ year }}
        </option>
          </select>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Security Code</label>
          </div>
          <input formControlName="securityCode" type="text" />
        </div>
      </div>
  
      <!-- ORDER DETAILS -->
      <div class="form-area">
        <div class="col mt-4">
          <h3>Review Your Order</h3>
          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{ totalPrice | currency: 'GBP'}}</p>
        </div>
      </div>
  
      <!-- SUBMIT BUTTON -->
      <div class="text-center">
        <div class="col mt-4">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>
      </div>
    </form>
  </div>
